Checks: >
  *,
  -llvmlibc-callee-namespace,
  -modernize-use-trailing-return-type,
  -llvmlibc-implementation-in-namespace,
  -fuchsia-default-arguments-calls,
  -fuchsia-statically-constructed-objects,
  -altera-unroll-loops,
  -altera-struct-pack-align,
  -altera-id-dependent-backward-branch,
  -fuchsia-overloaded-operator,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-inline-function-decl,
  -bugprone-easily-swappable-parameters,
  -boost-use-ranges,
  -abseil-string-find-str-contains,
  -llvm-header-guard
WarningsAsErrors: "*"
HeaderFilterRegex: ""
ExtraArgs: ["-std=c++23"]
