Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  -llvm-header-guard,
  -llvmlibc-callee-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -modernize-use-trailing-return-type,
  -portability-template-virtual-member-function
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
ExtraArgs: ["-std=c++23"]
